button {
    border-radius: 8px;
    border: 1px solid #ffffff;
    height: fit-content;
    padding: 10px 20px;
    margin: 1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #c0d8e2;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #2c2929;
  }