.cards-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 200px;
    margin: 1rem;
    padding: 10px;
    border: solid 1px #ffffff4d;
    background-color: rgb(22, 21, 21);
    border-radius: 5px;
}
.card:hover {
    box-shadow: 0px 1px 5px #ffffff52;
}
.single-card {
    background-color: rgb(22, 21, 21);
    padding: 2rem;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 5px;
    border: 1px solid white;
}