form {
    border: solid 1px rgb(92, 167, 58);
    background-color: #ffffff07;
    margin: 1rem;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
}

form:hover {
    border: solid 1px rgb(15, 14, 13);
}

.form-field {
    display: flex;
    flex-direction: column;
}

input, textarea {
    max-width: 300px;
    background-color: #ffffff00;
    color: #fff;
    border-radius: 5px;
    border: solid 1px #ffffff4d;
    padding: 5px;
}

label {
    
    font-weight: bolder;
    font-size: 14px;
}

input::-webkit-calendar-picker-indicator {
    background-color: #fff;
    cursor: pointer;
}